*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body
{
    background-color: #030712;
    color: white;

    font-family: "Pixelify Sans", serif;
}


html
{
    font-size: 62.5%;
}

header
{


    max-width: 90%;
}

.navigation-bar
{

    

    margin: 0 auto;

    font-size: 2rem;
    color: black;
    background-color: transparent;
    border-radius: 20px;
    padding: 3rem 0;
    display: flex;
    color: white;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    margin-bottom: 1rem;
    z-index: 1;
    transition: all 0.5s ease;
    
  

}
.sticky
{
    position: sticky;
    background-color: white;
    
    padding: 2rem;
    top: 1.5rem;
    color: black;
    transition: all 0.5s ease;

}
header.sticky a:link, header.sticky a:visited
{
    color: black;
}
.navigation-bar i 
{
    font-size: 2.4rem;
}

.navigation-bar a:link, .navigation-bar a:visited {

    transition: all 0.5s ease;
    color: white;
    margin-left: 4rem;
}


.navigation-bar .navigation-bar a:hover
{
    color: red;

}

.start-aside
{
    position: relative;

}


.image-aside
{

   background-image: url('images/code.webp');
   background-repeat: no-repeat;

   background-size:cover;
   background-attachment: fixed;
   background-position:center center;
   width: 100%;
   padding: 50px;
   padding-bottom: 20rem;
 
}

.image-aside h2
{
    font-size: 50px;
    margin-bottom: 20px;

}
.image-aside h2::after
{
    content: "$";
    margin-left: 20px;
    color:#3ed037;

}


.image-aside p
{
    margin-top: 10rem;
    font-size: 22px;
}




.contacts
{

    background-color: #20212444;
    padding: 2vw;
    border-radius: 8px;
    display: flex;
    justify-content:space-around;
    gap: 45px;
    align-items: center;
    margin-bottom: 20px;
    box-shadow:     0px 2px 4px rgba(0, 0, 0, 0.1), 
    0px 4px 8px rgba(0, 0, 0, 0.08), 
    0px 8px 16px rgba(0, 0, 0, 0.06);
    max-width: 800px;
    max-height: 55px;
    transition: all .8s ease-in-out; 

}
.contacts:hover
{
    transform: scale(1.05);
}
.contacts .contact-icon a
{
    color: white;
    font-size: 24px;

    
}
.contacts a:hover
{
    color: #3ed037;
    
    font-size: 24px;
}
.ide-editor
{
    margin-top: 10px;
    background-color: #0F0712;
    border-radius: 8px;
    max-width: 600px;
    box-shadow:     0px 2px 4px rgba(0, 0, 0, 0.1), 
    0px 4px 8px rgba(0, 0, 0, 0.08), 
    0px 8px 16px rgba(0, 0, 0, 0.06);
    transition: all .3s ease-in; 
    
}

.ide-editor:hover
{
    transform: translate(0px,-0.5vh);
}

.ide-editor nav
{
    display: flex;
    justify-content: left;
    padding: 10px;
    align-items: center;
    

}

.controls
{
    width: 15px;
    height: 15px;

    border-radius:50% ;
    margin-left: 20px;

    background-color: #c95609;

    
}
.text-editor
{
    padding: 25px;
    background-color: #10141E;
    border-radius: 5px;
    font-size: 20px;

    margin: 0 auto;

}

.terminal
{
    padding: 25px;
    background-color: #060606;
    border-radius: 5px;
    font-size: 20px;

}
.text-editor p
{
    line-height: 1.5;
}

.ide-navigation
{
display: flex;
justify-content: space-between;
align-items: center;
padding-bottom: 4px;
}


.ide-navigation h2
{
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.ides-container
{
    display: flex;
    flex-direction: row;
    justify-content: center    ;
    gap: 70px;
    flex-wrap: wrap;
    align-items:center;
    margin-bottom: 25px;

    padding-bottom: 20px;
}

.ls-command
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1vw;
    flex-wrap: wrap;
    list-style: none;
}

.page-footer
{
    text-align: center;
    padding: 20px;

    background-color: #10141E;
    font-size: 25px;
}


.text-animation
{
    border-right: 3px solid white;
    padding-right: 10px;
    white-space: nowrap;
    animation: 
    cursor .4s step-end infinite alternate;
    ;
}

@keyframes cursor
{
    50% {border-color: transparent;}
}



.education-container
{


    margin: 0 auto;
    background: #090911;
    padding: 5rem;
    
}


.education-content
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 40px;
    column-gap: 40px;



}
.edu-title
{

    margin-bottom: 30px;
    font-size: 40px;
    text-align: left;
}

.main-grid-item
{

    border-radius: 15px;
    background: linear-gradient(to right, #121212, #1a1a2e, #16213e);
    grid-column: 1 / span 2;

    text-shadow: 
    0px 2px 4px rgba(11, 6, 73, 0.1), 
    0px 4px 8px rgba(11, 6, 73, 0.08), 
    0px 8px 16px rgba(11, 6, 73, 0.06);
    line-height: 25px;
    grid-row: 1 / 3;
    padding: 25px;
    box-shadow: 
    0px 2px 4px rgba(11, 6, 73, 0.1), 
    0px 4px 8px rgba(11, 6, 73, 0.08), 
    0px 8px 16px rgba(11, 6, 73, 0.06);
    display: flex;
    justify-content: center;
    min-width: 300px;
    gap: 30px;

    transition: all .5s ease-in; 
}

.college-name
{
    font-size: 22px;
    margin-bottom: 10px;
    color: #17d8e6;
    padding-bottom: 10px;
    border-bottom: 3px solid #17d8e6;
}

.major-name
{
    color:#3ed037;
    font-weight: bold;
    font-size: 19px;
}
.studying-period
{
    font-size: 15px;
    color: #707070;
}

.main-grid-item img
{
    width: 200px;
  
    height: auto;
    border-radius: 5%;
    padding: 2vh;
    background: #0d111b88;
    box-shadow: 
    0px 2px 4px rgba(0, 0, 0, 0.1), 
    0px 4px 8px rgba(0, 0, 0, 0.08), 
    0px 8px 16px rgba(0, 0, 0, 0.06);
   
    

}

.main-grid-item:hover
{
    transform: translate(0px,-0.5vh);
}

.education-skill
{
    text-align: center;
    padding: 20px;
    text-shadow: 
    0px 2px 4px rgba(11, 6, 73, 0.1), 
    0px 4px 8px rgba(11, 6, 73, 0.08), 
    0px 8px 16px rgba(11, 6, 73, 0.06);
    border-radius: 10px;
    box-shadow: 
    0px 2px 4px rgba(11, 6, 73, 0.1), 
    0px 4px 8px rgba(11, 6, 73, 0.08), 
    0px 8px 16px rgba(11, 6, 73, 0.06);
    font-size: 1rem;
    font-weight: bold;

    transition: all .5s ease-in; 
    background: linear-gradient(to right, #121212, #1a1a2e, #16213e);
}



.education-skill:hover
{
    transform: translate(0px,-0.5vh);
}


.image-show   
{

    display:none; 
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #10141EAA;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-direction: column;
    overflow: hidden;
}

.image-show img
{
    width: 50%;
    height: auto;

}

.close-btn
{
    position: absolute;
    right:  5rem;
    top:  10rem;
    background-color: transparent;
    border:  none;
    color: white;
    font-weight: 300;
    font-size: 3rem;
    cursor: pointer;
}


.skill1
{
    align-self: end;
    background-color: #FAACA8;
background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

}

.skill2
{
    align-self: start;
  
    grid-column: 4 /5;
    grid-row: 2 / 3;


    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}
.skill4
{
    align-self:end;
    grid-column: 3 / 4;
    grid-row: 1 /2;
    background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);


}



.skill5
{
    align-self: start;
    grid-column: 3 /4;
    grid-row: 2/ 3;
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}

.education-description
{
    font-size: 18px;
}

.GPA
{
    border-bottom: 2px solid red;
    font-weight: bolder;
}

.coop
{

    font-weight: bolder;
    color: greenyellow;
}



.certificates-container
{
   padding: 4rem;
   font-size: 1.5rem;
   background-color: black;
}

.certificates-title
{
    font-size: 3rem;
    margin-bottom: 4rem;
    font-weight: bolder;
}


.certificates-list
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    list-style:  none;
    align-items: center;
}


.certificates-list li 
{
    text-align: center;

    padding: 3rem;
    background-color: rgb(29, 29, 29);
    border-radius: 18px;

}

.certificates-list li img
{


    box-shadow:
    11px 15px 6px rgba(0, 0, 0, 0.04);
  
    background-color: #504f4f11;
    padding: 2vh 2vw;
    max-width: 30%;
    min-width: 25rem;
    height: auto;
    border-radius: 10px;
    margin-bottom: 2rem;
    max-height: 169.2px;
    cursor: pointer;

}

.certificate-link
{
    display: inline-block;
    text-decoration: none;
    margin-top: 2rem;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    box-shadow:
    11px 15px 6px rgba(0, 0, 0, 0.04)
  ;
    padding: 2rem;
    width: 80%;
    text-transform: uppercase;
    border-radius: 10px;
    color: black;
    font-weight: bolder;

}

.certificate-name
{
    font-size: 2.1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.certificate-date
{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #707070;
}



@media only screen and (max-width: 1300px) {


    .main-grid-item
    {
        flex-direction: column;
        text-align: left;
    }
    .main-grid-item img
    {
        align-self: center;
    }




}





  
@media only screen and (max-width: 1000px) {



    .close-btn
    {
        right: 1rem;
        top: 1rem;
    }
    .image-show img
    {
    width: 90%;
    height: auto;

    }

    .education-content
    {
        column-gap: 5px;
        row-gap: 10px;
    }

    .ide-navigation h2
    {
        font-size: 2rem;
    }
    .main-grid-item
    {
        grid-column: 1 / -1;


    }

    .ide-editor
    {
       
       
        width: 95%;
    }


    .text-editor
    {
        font-size: 2rem;
    }
    .terminal
    {
        font-size: 2rem;


    }
    .education-skill
    {
        font-size: 1rem;

    }

     .skill1
    {
        align-self: center;
        grid-column: 2 /3;
        grid-row: 3 / 4;

    }

    .skill2
    {

        align-self: center;
        grid-column: 2 /3;
        grid-row: 4 / 5;


    }
    .skill4
    {
        align-self: center;
        grid-column: 1 / 2;
        grid-row: 3 /4;



    }



    .skill5
    {
        align-self: center;
        grid-column: 1 / 2;
        grid-row: 4 /5;

    } 

    .page-footer
    {
        font-size: 1.5rem;
    }

}


